/* // 21 disposition 11 color or 9 */

body {
  position: absolute;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: #fff;
  margin: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 20rem;
  width: 100%;
}

.wordart {
  position: relative;
  display: inline-block;
}
.preview {
  margin: 0 0 2rem;
  padding: 2rem;
}

h1 {
  font-size: 9vmin;
  white-space: nowrap;
  overflow: hidden;
}

.style-nine {
  transform: scale(0.9, 1.65) rotate(-3deg) skewY(-3deg) translateZ(0);
}
.style-nine .preview {
  font-family: Impact, sans-serif;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(#6900cc, #cb00cc);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.016em #d2a2fe;
  -webkit-background-clip: text;
  background-clip: text;
}
.style-nine .preview::before {
  /* @include pseudo; */
  position: absolute;
  content: "CodePen";
  font-family: Impact, sans-serif;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(#6900cc, #cb00cc);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.016em #d2a2fe;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
  -webkit-text-stroke: transparent;
  text-shadow: 0.094em 0.063em #adadff;
}

.style-eleven .wordart {
  transform: scaleY(1.65);
}
.style-eleven .preview {
  font-weight: 900;
  color: transparent;
  background: linear-gradient(
    to left,
    #a104ad,
    #0b2be0,
    #329941,
    #f7f658,
    #f16412,
    #e92153,
    #aa04a7
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.016em #eaeaea;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.1rem;
}
.style-eleven .preview::before {
  /* @include pseudo; */

  position: absolute;
  content: "CodePen";
  z-index: -1;
  color: #cdcdcd;
  -webkit-text-fill-color: #cdcdcd;
  -webkit-text-stroke: transparent;
  transform: rotateX(63deg) skew(60deg) scaleY(0.65)
    translate3d(2em, -2.15em, -1em);
}

.style-twentyone .wordart {
  transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0);
}
.style-twentyone .preview {
  font-family: Impact, sans-serif;
  color: transparent;
  background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.style-twentyone .preview::before {
  /* @include pseudo; */
  position: absolute;
  content: "CodePen";
  /* transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0); */

  font-family: Impact, sans-serif;
  color: transparent;
  background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
  text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px 0.35px #813300,
    1px 2px 0.35px #c14d00, 3px 2px 0.35px #813300, 2px 3px 0.35px #c14d00,
    4px 3px 0.35px #813300, 3px 4px 0.35px #c14d00, 5px 4px 0.35px #813300,
    4px 5px 0.35px #c14d00, 6px 5px 0.35px #813300, 5px 6px 0.35px #c14d00,
    7px 6px 0.35px #813300, 6px 7px 0.35px #c14d00;
}

.style-mixed .wordart {
  transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0);
}
.style-mixed .preview {
  font-family: Impact, sans-serif;
  color: transparent;
  /* background: linear-gradient(to bottom left,  #6900cc, #cb00cc); */
  background: linear-gradient(
    to left,
    #cb00cc,
    #0b2be0,
    /* #329941, */
    #f7f658,
    #f16412,
    #cb00cc,
    #aa04a7
  );;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.016em #d2a2fe;
  -webkit-background-clip: text;
}
.style-mixed .preview::before {
  /* @include pseudo; */
  position: absolute;
  content: "Disonancias";
  /* transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0); */

  font-family: Impact, sans-serif;
  color: transparent;
  /* background: linear-gradient(#6900cc, #cb00cc); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
  text-shadow: 1px 0 0 #6900cc, 0 1px 0 #cb00cc, 2px 1px 0.35px #6900cc,
    1px 2px 0.35px #cb00cc, 3px 2px 0.35px #6900cc, 2px 3px 0.35px #cb00cc,
    4px 3px 0.35px #6900cc, 3px 4px 0.35px #cb00cc, 5px 4px 0.35px #6900cc,
    4px 5px 0.35px #cb00cc, 6px 5px 0.35px #6900cc, 5px 6px 0.35px #cb00cc,
    7px 6px 0.35px #6900cc, 6px 7px 0.35px #cb00cc;
}
