/* Color Theme Swatches in Hex */
$Vaporwave-1-hex: #9C5BFF;
$Vaporwave-2-hex: #4D74F7;
$Vaporwave-3-hex: #65F4DA;
$Vaporwave-4-hex: #EFB7FF;
$Vaporwave-5-hex: #5BC8F5;

/* Color Theme Swatches in RGBA */
$Vaporwave-1-rgba: rgba(156,91,255, 1);
$Vaporwave-2-rgba: rgba(77,116,246, 1);
$Vaporwave-3-rgba: rgba(100,244,218, 1);
$Vaporwave-4-rgba: rgba(239,182,255, 1);
$Vaporwave-5-rgba: rgba(91,200,244, 1);

/* Color Theme Swatches in HSLA */
$Vaporwave-1-hsla: hsla(263, 100, 67, 1);
$Vaporwave-2-hsla: hsla(226, 91, 63, 1);
$Vaporwave-3-hsla: hsla(169, 86, 67, 1);
$Vaporwave-4-hsla: hsla(286, 100, 85, 1);
$Vaporwave-5-hsla: hsla(197, 88, 65, 1);


// CSS

/* Color Theme Swatches in Hex */
.Vaporwave-1-hex { color: #9C5BFF; }
.Vaporwave-2-hex { color: #4D74F7; }
.Vaporwave-3-hex { color: #65F4DA; }
.Vaporwave-4-hex { color: #EFB7FF; }
.Vaporwave-5-hex { color: #5BC8F5; }

/* Color Theme Swatches in RGBA */
.Vaporwave-1-rgba { color: rgba(156, 91, 255, 1); }
.Vaporwave-2-rgba { color: rgba(77, 116, 246, 1); }
.Vaporwave-3-rgba { color: rgba(100, 244, 218, 1); }
.Vaporwave-4-rgba { color: rgba(239, 182, 255, 1); }
.Vaporwave-5-rgba { color: rgba(91, 200, 244, 1); }

/* Color Theme Swatches in HSLA */
.Vaporwave-1-hsla { color: hsla(263, 100, 67, 1); }
.Vaporwave-2-hsla { color: hsla(226, 91, 63, 1); }
.Vaporwave-3-hsla { color: hsla(169, 86, 67, 1); }
.Vaporwave-4-hsla { color: hsla(286, 100, 85, 1); }
.Vaporwave-5-hsla { color: hsla(197, 88, 65, 1); }
