.main-content {
  padding-bottom: 3.125rem;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.1875rem;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  text-align: center;
}